apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace | default('default') }}
spec:
  replicas: {{ item.replicas | int }}
  selector:
    matchLabels:
      app: {{ item.name }}
  template:
    metadata:
      labels:
        app: {{ item.name }}
    spec:
      containers:
        - name: {{ item.name }}
          image: {{ item.image }}
