apiVersion: v1
kind: Service
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace | default('default') }}
spec:
  selector:
    app: {{ item.name }}
  ports:
    - protocol: TCP
      port: {{ item.port | int }}
      targetPort: {{ item.targetPort | int }}
  type: {{ item.type }}
