# Global evaluation and scraping intervals
global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alertmanager integration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "{{ alertmanager_host }}:{{ alertmanager_port }}"

# Rule files to be loaded by Prometheus
rule_files:
  - "{{ prometheus_rule_path }}"

# Scrape configuration
scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets:
{% for host in groups['master'] + groups['worker'] %}
        - '{{ hostvars[host]["ansible_host"] | default(host) }}:9100'
{% endfor %}

  - job_name: 'kube-state-metrics'
    static_configs:
      - targets:
{% for host in groups['master'] %}
        - '{{ hostvars[host]["ansible_host"] | default(host) }}:31180'
{% endfor %}

{% for host in groups['master'] + groups['worker'] %}
  - job_name: 'cadvisor-{{ host }}'
    scheme: https
    metrics_path: /api/v1/nodes/{{ hostvars[host]['k8s_node_name'] | default(host) }}/proxy/metrics/cadvisor
    static_configs:
      - targets:
          - '{{ apiserver_host }}:{{ apiserver_port }}'
    tls_config:
      ca_file: /etc/prometheus/k8s-ca.crt
    bearer_token_file: /var/lib/prometheus/k8s-token

    metric_relabel_configs:
      - action: drop
        source_labels: ["container"]
        regex: "^$"
      - action: drop
        source_labels: ["container"]
        regex: "^POD$"
{% endfor %}

