# Global evaluation and scraping intervals
global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alertmanager integration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "{{ alertmanager_host }}:{{ alertmanager_port }}"

# Rule files to be loaded by Prometheus
rule_files:
  - "{{ prometheus_rule_path }}"

# Scrape configuration
scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets:
{% for host in groups['master'] + groups['worker'] %}
        - '{{ hostvars[host]["ansible_host"] | default(host) }}:9100'
{% endfor %}

  - job_name: 'kube-state-metrics'
    static_configs:
      - targets:
{% for host in groups['master'] %}
        - '{{ hostvars[host]["ansible_host"] | default(host) }}:31180'
{% endfor %}

{% for host in groups['master'] + groups['worker'] %}
  - job_name: 'cadvisor-{{ host }}'
    scheme: http
    metrics_path: /metrics
    static_configs:
      - targets:
          - '{{ hostvars[host]["ansible_host"] | default(host) }}:8080'
    metric_relabel_configs:
      - action: replace
        source_labels: ["namespace"]
        regex: "(.*)"
        replacement: "$1"
        target_label: "namespace"

      - action: replace
        source_labels: ["pod"]
        regex: "(.*)"
        replacement: "$1"
        target_label: "pod"

      - action: replace
        source_labels: ["container"]
        regex: "(.*)"
        replacement: "$1"
        target_label: "container"

      - action: drop
        source_labels: ["container"]
        regex: "^$"

      - action: drop
        source_labels: ["container"]
        regex: "^POD$"
{% endfor %}
